/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Web fonts
========================================================================== */

/*@import url(//fonts.googleapis.com/earlyaccess/alefhebrew.css);*/
@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);
/*@import url(http://fonts.googleapis.com/earlyaccess/notosanshebrew.css);*/

@font-face {
    font-family:"chess alpha";
    src:url("../fonts/ChessAlpha2.woff") format("woff");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"haim";
    src:url("../fonts/Haim.otf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.woff?ftl52c') format('woff');
    font-weight: normal;
    font-style: normal;
} 

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/*HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'open sans hebrew', sans-serif;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
    background: #52a6cc;
    text-shadow: none;
}

::selection {
    background: #52a6cc;
    text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

body {
    min-height: 100%;
    background: #0d0d0d;
    position: relative;
    color: #000;
    font-size: 1em;
    line-height: 1.6em;
    font-family: 'open sans hebrew', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main-content {
    /*    padding-top: 80px;*/
}
.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.dummy-container {
    height: 2000px;
}
.content-section {
    width: 100%;
    /*        height: 600px;*/
    background: #fff;
}
.bold {
    font-weight: bold;
}
.grey {
    background: #f5f5f5;
}
.visual {
    display: block;
    width: 100%;
}
.slides-wrapper {
    background: url(../img/r1.jpg);   
}

/* ==========================================================================
Navigation
========================================================================== */

header {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 80px;
    width: 100%;
    background: #fff;
    box-shadow: 0 4px rgba(0,0,0,0.1);
    z-index: 9999;
}
.logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-left: 3%;
    transform: translateZ(0);
    backface-visibility: hidden;
}
.logo img {
    display: block;
    height: 100%;
    width: auto;
}
.nav-trigger {
    display: none;
}
.main-nav {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    direction: rtl;
    margin-right: 3%;
    height: 80px;
    line-height: 80px;
}
.main-nav li {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 100%;
    padding: 0 1em;
}

.main-nav a {
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
    border-bottom: 6px solid transparent;
    transform: translateZ(0);
    transition: all .3s;
}
.main-nav > li > a:hover {
    border-bottom: 6px solid #52a6cc;
    color: #52a6cc;
}
.main-nav > li > a.active {
    border-bottom: 6px solid #52a6cc;
}
.subnav-trigger {
    padding-left: 1.2em;
}
.subnav-trigger:before, .subnav-trigger:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    margin-top: 3px;
    width: 10px;
    background: #000;
    transform: translateZ(0);
    transition: all .4s;
}
.subnav-trigger:before {
    left: 6px;
    transform: rotate(-45deg);
}
.subnav-trigger:after {
    transform: rotate(45deg);
}
.subnav-trigger:hover:before, .subnav-trigger:hover:after {
    background: #52a6cc;
}
.main-nav.moves-out .subnav-trigger:before{
    transform: rotate(45deg);
}
.main-nav.moves-out .subnav-trigger:after{
    transform: rotate(-45deg);
}
.dropdown {
    direction: rtl;
    padding-right: 3%;
    position: fixed;
    top: 80px;
    right: 0%;
    width: 100vw;
    height: 0px;
    line-height: 40px;
    /*        background: #f5f5f5;*/
    box-shadow: 0 4px rgba(0,0,0,0.1);
    background: #fff;
    border-top: solid 1px transparent;
    overflow: hidden;
    z-index: 999;
    transform: translateZ(0);
    /*    transition: height .3s ease-out, background 5s .3s linear;*/
    transition: all .3s;
}
.dropdown li {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 100%;
    padding: 0 1em;
    transition: all .3s;
}
.dropdown li a{
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    color: #000;
    visibility: hidden;
    font-size: 1.2em;
    text-decoration: none;
    border-bottom: 6px solid transparent;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: visibility .3s;
}
.dropdown.moves-out {
    height: 40px;
    background: #f5f5f5;
    border-top: solid 1px #ddd;
    transition: height .3s, border-top 1s, background 1s;
}
.dropdown.moves-out li a{
    visibility: visible;
    transition: opacity .3s .3s, color .3s, visibility 0s .3s;
}
.dropdown.moves-out .subnav-trigger a{
    border-bottom: 6px solid #52a6cc;
}
.dropdown.moves-out li a:hover{
    color: #52a6cc;
    transition: all .3s;
}
.dropdown.moves-out li:nth-child(1) a{
    animation: slidedown .3s .3s;
}
.dropdown.moves-out li:nth-child(2) a{
    animation: slidedown .5s .3s;
}
.dropdown.moves-out li:nth-child(3) a{
    animation: slidedown .8s .3s;
}
.dropdown.moves-out li:nth-child(4) a{
    animation: slidedown 1s .3s;
}

@keyframes slidedown {
    0% {
        opacity: 0;
        transform: translateY(-8px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ==========================================================================
Sub-Navigation
========================================================================== */

.sub-nav-wrapper {
    position: fixed;
    bottom: 3%;
    left: 3%;
    z-index: 999;
}
.sub-nav-trigger {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #47c9af;
    box-shadow: 0 4px rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
    transition: all .4s ease;
    z-index: 9;
}
.sub-nav-trigger:hover {
    background: #4dddc0;
}
.sub-nav-trigger::after {
    content: "\e9b3";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font: 30px 'icomoon';
}
.sub-nav-trigger.active {
    background: #cc6055;
}
.sub-nav-trigger.active:hover {
    background: #ea7165;
}
.sub-nav {
    display: inline-block;
    position: relative;
    opacity: 0;
    top: -30px;
    left: -60px;
    width: 60px;
    padding-top: 20px;
    padding-bottom: 0;
    background: #f5f5f5;
    border: 1px solid #e2e2e2;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    vertical-align: bottom;
    z-index: 1;
    transition: all .4s ease;
}
.sub-nav.active {
    opacity: 1;
    padding-bottom: 40px;
}
.sub-nav a {
    display: block;
    margin-bottom: 15px;
    color: #000;
    transition: all .4s ease;
}
.sub-nav a:hover {
    color: #52a6cc;
}
.sub-nav a:first-child {
    font-weight: bold;
}
.sub-nav a:first-child::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 25px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: transparent;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    opacity: 0;
    transform: rotate(-45deg);
    transition: all .4s ease;
}
.sub-nav a:first-child:hover::after {
    opacity: 1;
    top: 10px;
    border-top: 2px solid #52a6cc;
    border-right: 2px solid #52a6cc;
}

/* ==========================================================================
Hero
========================================================================== */

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.25);
}
.hero-wrapper {
    position: relative;
    width: 100%;
    min-height: 50vh;
    overflow: hidden;
}
.hero-wrapper.about {
    background: url(../img/hero_pieces.jpg) center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-wrapper.pieces {
    background: url(../img/hero_pieces3.jpg) center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-wrapper.special {
    background: url(../img/hero_pieces2.jpg) center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-wrapper.goal {
    background: url(../img/hero_goal.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-wrapper.champs {
    background: url(../img/hero_champs.jpg) center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-wrapper.infobase {
    background: url(../img/hero_infobase2.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-wrapper.openings {
    background: url(../img/hero_openings.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-wrapper.famous {
    background: url(../img/hero_infobase.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-wrapper.forum {
    background: url(../img/hero_board.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.video-wrapper {
    position: relative;
    width: 100%;
    max-height: 70vh;
    overflow: hidden;
}
video {
    display: block;
    width: 100%;
    top: 0;
    left: 0;
}
.hero-text {
    direction: rtl;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 999;
}
.hero-text.video {
    top: calc(30% + 80px);
}
.hero-title {
    font-weight: bold;
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 0.2em;
}
.hero-paragraph {
    max-width: 1024px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.4em;

}
.btn-video {
    display: inline-block;
    margin: 0 auto;
    margin-top: 1em;
    padding: 18px;
    background: #52a6cc;
    font-size: 1.2em;
    color: #fff;
    transition: all 0.3s;
}
.btn-video:hover {
    background: #3baee3;
}
.hero-icon-container{
    position: absolute;
    display: block;
    top: 33%;
    left: 0;
    text-align: center;
    width: 100%;
}
.hero-icon {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 12em;
    height: 12em;
    border: 1em solid #fff;
    border-radius: 12em;
    background: none;
    color: #fff;
    transition: all .7s;
}
.hero-icon.chess:before {
    content: "K";
    display: block;
    position: absolute;
    top: 0%;
    left: 9%;
    right: 0%;
    bottom: 0%;
    font: 10em 'chess alpha';
}
.hero-icon.champs:before {
    content: "\e99e";
    display: block;
    position: absolute;
    top: 20%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    font: 7em 'icomoon';
}
.hero-icon.king:before {
    content: "n";
    display: block;
    position: absolute;
    top: 10%;
    left: 9%;
    right: 0%;
    bottom: 0%;
    font: 10em 'chess alpha';
}
.hero-icon.pawn:before {
    content: "I";
    display: block;
    position: absolute;
    top: 0%;
    left: 13%;
    right: 0;
    bottom: 0;
    font: 10em 'chess alpha';
}
.hero-icon.star:before {
    content: "\e9d9";
    display: block;
    position: absolute;
    top: 13%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    font: 7em 'icomoon';
}
.hero-icon.goal:before {
    content: '\e9cc';
    display: block;
    position: absolute;
    top: 25%;
    left: 5%;
    right: 0%;
    bottom: 0%;
    font: 5em 'icomoon';
}
.hero-icon.archive:before {
    content: '\e976';
    display: block;
    position: absolute;
    top: 16%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    font: 6em 'icomoon';
}
.hero-icon.openings:before {
    content: '\e91f';
    display: block;
    position: absolute;
    top: 20%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    font: 6em 'icomoon';
}
.hero-icon.famous:before {
    content: '\e930';
    display: block;
    position: absolute;
    top: 23%;
    left: 7%;
    right: 0%;
    bottom: 0%;
    font: 5em 'icomoon';
}
.hero-icon.forum:before {
    content: '\e96d';
    display: block;
    position: absolute;
    top: 17%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    font: 6em 'icomoon';
}
.hero-icon-title {
    display: block;
    margin: 0 auto;
    font: 4em 'haim';
    margin-top: 0.2em;
}
/* ==========================================================================
Content Section
========================================================================== */

.ltr {
    direction: ltr;
}
.right-align {
    text-align: right;
}
.half {
    width: 50%;
}
.third {
    width: 34%;
}
.two-thirds {
    width: 66%;
}
.full-width {
    width: 100%;
}
.padding-right {
    padding-right: 10px;
}
.padding-left {
    padding-left: 10px;
}
.icon-nav-container.main{
    width: 100%;
    text-align: center;
    margin-top: -0.5em;
    margin-bottom: 3em;
}
.icon-nav-container{
    width: 100%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 5em;
}
.icon-btn-wrapper {
    display: inline-block;
}
.icon {
    position: relative;
    display: inline-block;
    width: 12em;
    height: 12em;
    margin: 0 1em;
    border: 1em solid #333;
    border-radius: 12em;
    background: #fff;
    color: #000;
    transition: all .7s;
}
.icon:hover {
    border-color: #52a6cc;
}
.icon-learn {
    width: 14em;
    height: 14em;
    border-radius: 14em;
    box-shadow: 0 0 0 1em #fff;
}
.icon-learn:before {
    content: 'I';
    display: block;
    position: absolute;
    top: 0%;
    left: 13%;
    right: 0%;
    bottom: 0%;
    font: 12em 'chess alpha';
    color: #333;
}
.icon-archive:before {
    content: '\e976';
    display: block;
    position: absolute;
    top: 28%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    font: 4.5em 'icomoon';
    color: #333;
}
.icon-forum:before {
    content: '\e96d';
    display: block;
    position: absolute;
    top: 30%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    font: 4em 'icomoon';
    color: #333;
}
.icon-openings:before {
    content: '\e91f';
    display: block;
    position: absolute;
    top: 30%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    font: 4em 'icomoon';
    color: #333;
}
.icon-champs:before {
    content: '\e99e';
    display: block;
    position: absolute;
    top: 25%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    font: 5em 'icomoon';
    color: #333;
}
.icon-famous:before {
    content: '\e930';
    display: block;
    position: absolute;
    top: 26%;
    left: 2%;
    right: 0%;
    bottom: 0%;
    font: 4em 'icomoon';
    color: #333;
}
.btn-green {
    display: block;
    background: #47c9af;
    border: none;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    transition: all .3s;
}
.btn-green:hover {
    background: #4dddc0;
}
.btn-red {
    display: inline-block;
    background: #cc6055;
    border: none;
    text-align: center;
    line-height: normal;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    transition: all .3s;
}
.btn-green.main {
    font: 1.6em 'haim';
    padding: .5em 0;
}
.btn-green.boards {
    font: 1.3em 'haim';
    padding: .5em 1em;
}
.btn-red.main {
    font: 1.8em 'haim';
    padding: 0.5em 1em;
    line-height: normal;
}
.btn-red.boards {
    font: 1.3em 'haim';
    padding: .5em 1em;
    /*    width: 3.7em;*/
}
.btn-red:hover {
    background: #ea7165;
}
.icon:hover .btn-green {
    background: #4dddc0;
}
.icon-btn {
    margin-top: 90%;
}
.btn-learn {
    position: absolute;
    bottom: -15.0%;
    right: 1.5%;
}
.btn-archive{
    position: absolute;
    bottom: -18%;
    right: -6%;
}
.btn-forum{
    position: absolute;
    bottom: -18%;
    right: 11.5%;
}
.content {
    box-sizing: border-box;
    direction: rtl;
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 2em 1em;
}
.article-container {
    display: inline-block;
    vertical-align: top;
}
.article-container.centered {
    margin-right: 17%;
}
.article-two-columns {
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}
.article-two-columns img{
    width: 100% !important;
    height: auto !important;
}
.article-h2{
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: .5em;
}
.article-h3{
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: .8em;
}
.article-paragraph{
    direction: rtl;
    /*    display: inline-block;*/
    text-align: right;
    width: 100%;
    margin-bottom: .8em;
    line-height: 1.5em;
}
.article-paragraph strong {
    font-weight: bold;
}
.article-image-container {
    display: inline-block;
    vertical-align: top;
}
.article-image{
    width: 100%;
    padding-bottom: 20px;
}
.article-image img{
    width: 100%;
    padding: 0;
    margin: 0;
}
.article-image.half-width{
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    margin-bottom: 3px;
}
.paragraph-image.float-right {
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
}
.paragraph-image.float-left {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}
.paragraph-image.half {
    width: 50%;
}
.paragraph-image.third {
    width: 33%;
}
.article-paragraph a {
    color: #52a6cc;
    font-weight: 600;
    text-decoration: underline;
}
.article-container ul {
    margin-bottom: 1em;
}
.article-container li {
    /*    padding-right: 16px;*/
}
.article-container li::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #52a6cc;
    border-radius: 50%;
    margin-left: 10px;
}
.notation-container {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.notation-icon {
    display: inline-block;
    font: 10em 'chess alpha';
    text-align: center;
    width: 100%;
    text-indent: -0.1em;
    margin-top: -0.05em;
}
.notation-title {
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
}
.notation-letter {
    display: inline-block;
    width: 100%;
    font-size: 6em;
    font-weight: bold;
    line-height: 1em;
}
.notation-letter.smaller {
    font-size: 3em;
}
.board-moves-container {
    display: block;
    width: 60%;
}
.board-moves-container.full-width {
    width: 100%;
}
.board-opening-container {
    display: inline-block;
}
.board-btn-container {
    display: block;
    width: 100%;
    margin: .8em 0;
    text-align: center;
}
.board-exercises-container {
    display: inline-block;
    width: 30%;
    margin-left: 1.5em;
}
/* ==========================================================================
Search Section
========================================================================== */
.search-container {
    position: relative;
    width: 70%;
    margin: 0 auto;
}
#search {
    display: block;
    /*    position: relative;*/
    margin: 0 auto;
    width: 70%;
    border: none;
    border-bottom: 2px solid #ababab;
    font-size: 3em;
    color: #52a6cc;
    text-align: center;
    transition: all .5s ease;
}
#search:focus {
    outline: 0;
    width: 100%;
    border-bottom: 2px solid #52a6cc;
}
#search::-webkit-input-placeholder {
    color: #ddd;
}
#search:-ms-input-placeholder {
    color: #ddd;
}
#search::-moz-placeholder {
    color: #ddd;
}
.clear-search {
    position: absolute;
    left: 15%;
    top: 30%;
    width: 2em;
    height: 2em;
    background: transparent;
    border: 4px solid #ddd;
    border-radius: 2em;
    transition: transform .3s .1s ease-in-out, left .3s .1s ease-in-out, border .4s ease;
    z-index: 999;
}
.clear-search.is-visible {
    left: 0%;
    transform: rotate(-360deg);
}
.clear-search:hover {
    border: 4px solid #cc6055;
}
.clear-search:after {
    content: 'X';
    position: relative;
    top: -1px;
    left: -1px;
    font-weight: bold;
    font-size: 16px;
    color: #ddd;
    transition: border .4s ease, color .4s ease;
}
.clear-search:hover:after {
    color: #cc6055;
}
.clear-search:focus {
    outline: none;
}
/* ==========================================================================
Timeline Section
========================================================================== */

.color-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /*    background: rgba(0, 0, 0, 0.5);*/
}
.color-overlay.blue {
    background: rgba(12, 92, 128, 0.6);
}
.timeline-section {
    position: relative;
    background: url(../img/sbg.png) center 0;
}
.timeline-section:before {
    content: '';
    position: absolute;
    top: 0%;
    right: 50%;
    width: 5px;
    height: 100%;
    background: #ddd;
    z-index: 9;
}
.timeline-block {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 3em 0;
}
.timeline-icon {
    position: relative;
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    border: 1em solid #52a6cc;
    border-radius: 50%;
    /*    box-shadow: 0px 30px 0 0px rgba(0,0,0,0.25);*/
    z-index: 9;
}
.timeline-date {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 30%;
    font: 4em 'haim';
    color: #fff;
}
.timeline-date.right {
    text-align: right;
}
.flag {
    display: inline-block;
    float: right;
    width: 40%;
    margin-left: .8em;

}
.flag img {
    width: 100%;
}
.flag-title {
    display: block;
    font-weight: bold;
    padding-top: .5em;
}
.timeline-text {
    box-sizing: border-box;
    position: relative;
    direction: rtl;
    display: inline-block;
    max-width: 30%;
    background: #fff;
    padding: .8em;
    text-align: right;
    line-height: 1.4em;
    vertical-align: middle;
}
.timeline-text.left:after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: -35px;
    border: 15px solid transparent;
    border-left: 20px solid #fff;
}
.timeline-text.right:after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
    border: 15px solid transparent;
    border-right: 20px solid #fff;
}
/* ==========================================================================
Qoute Section
========================================================================== */

.qoute-section {
    position: relative;
    direction: rtl;
    height: 400px;
    background: url(../img/qoutepic1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.qoute-container{
    display: block;
    text-align: center;
    height: 100%;
    width: 70%;
    margin: 0 auto;
}
.qoute-block {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    transform-style: preserve-3d;
}
.qoute {
    display: block;
    color: #fff;
    text-align: right;
    font-size: 3em;
    line-height: 1em;
}
.qoute:before {
    content: '';
    display: block;
    background: url(../img/qoute.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -0.6em;
    right: -1.5em;
    width: 1.6em;
    height: 1.6em;
    /*    color: #52a6cc;*/
    /*    font-weight: bold;*/
    /*    font-size: 2.5em;*/
}
.qoute-author{
    display: block;
    color: #52a6cc;
    text-align: left;
    font-size: 1.4em;
    margin-top: 0.8em;
}



/* ==========================================================================
Footer
========================================================================== */

footer {
    width: 100%;
    clear: both;
    color: #ababab;
    text-align:center;
    font-family:'tahoma',  sans-serif;
    font-size: 0.75em;
}
footer section {
    position: relative;
    direction: rtl;
    max-width: 1024px;
    margin: 0 auto;
}
.footer-nav {
    text-align: right;
    margin-top: 1em;
}
.footer-nav a {
    color: #ddd;
    text-decoration: none;
    padding: 0 .6em;
    border-right: 1px solid #ddd;
    transition: all .3s;
}
.footer-nav a:first-child {
    border: none;
    padding-right: 0;
}
.footer-nav a:hover {
    color: #fff;
}
.social-icons{
    text-align: right;
    margin-top: 1em;
}
.social-icons a{
    margin-left: 3px;
    opacity: .8;
    transition: all .3s;
}
.social-icons a:hover {
    opacity: 1;
}
.social-icons img {
    height: 3em;
}
footer section span {
    display: block;
    text-align: right;
    margin: 1em 0;
}
.footer-logo {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    opacity: .25;
}
.powered {
    padding: 1em 0;
    border-top: 1px #333 solid;
}
footer a {
    display: inline-block;
    margin-top: 4px;
}

.logo_msqr {
    display: block;
    width: 24px;
    margin: 0 auto;
}

/* ==========================================================================
ChessBoard.js
========================================================================== */

/* clearfix */
.clearfix-7da63 {
    clear: both;
}

/* board */
.board-b72b1 {
    width: 100%;
    border: 2px solid #52a6cc;
    box-sizing: content-box;
}

/* square */
.square-55d63 {
    float: left;
    position: relative;

    /* disable any native browser highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* white square */
.white-1e1d7 {
    background-color: #8ebbd0;
    color: #b58863;
}

/* black square */
.black-3c85d {
    background-color: #ffffff;
    color: #f0d9b5;
}

/* highlighted square */
.highlight1-32417, .highlight2-9c5d2 {
    box-shadow: inset 0 0 0 3px #47c9af;
}

/* notation */
.notation-322f9 {
    color: #000;
    cursor: default;
    font-family: "open sans hebrew", Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: absolute;
}
.alpha-d2270 {
    bottom: 1px;
    right: 3px;
}
.numeric-fc462 {
    top: 2px;
    left: 2px;
}

/* ==========================================================================
Muut Forum
========================================================================== */

.moot * {
    font-family: 'open sans hebrew', sans-serif !important;
}
.moot .m-title, .moot textarea.m-input-title {
    font-family: 'open sans hebrew', sans-serif !important;
    font-weight: 500 !important;
    color: #52a6cc !important;
}
.m-tablet .m-subnavi {
    background-color: rgba(0,0,0,0.08) !important;
}
.m-login {
    float: left !important;
    color: #52a6cc !important;
}
.m-sidebar {
    padding: 1.8em 1.2em 0 0 !important;
}
.m-body p:last-child {
    margin-right: 0 !important;
}
.m-show-all, .m-like, .m-unspam {
    margin-right: .8em !important;
    margin-left: 0 !important;
}
a.m-menu {
    left: 0 !important;
    right: auto !important;
}
.m-expanded .m-title {
    padding: 0 0 .3em 1.2em !important;
}
#m-search {
    width: 45% !important;
    margin: .4em .4em !important;
}
.m-collapse-all .m-icon {
    display: none !important;
}
.m-navi a:hover {
    box-shadow: none !important;
    background: rgba(0,0,0,0.1) !important;
}

/* ==========================================================================
Responsive Slides
========================================================================== */

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

/* ==========================================================================
Media queries
========================================================================== */

@media only screen and (max-width: 960px) {
    .logo {
        margin-left: 1%;
        width: 25%
    }
    .logo img {
        width: 100%;
    }
    .main-nav {
        margin-right: 0%;
    }

}
@media only screen and (max-width: 767px) {
    .logo {
        width: 50%;
    }
    .nav-trigger {
        position: absolute;
        top: 10px;
        right: 3%;
        display: inline-block;
        height: 60px;
        padding: 0 10px;
        font-size: 1.2em;
        font-weight: bold;
        color: #fff;
        line-height: 60px;
        background: #47c9af;
        transition: all .4s ease;
    }
    .nav-trigger.active {
        background: #cc6055;
        padding-left: 44px;
        transition: all .4s ease;
    }
    .nav-trigger::before {
        content: 'X';
        display: inline-block;
        position: absolute;
        border: 2px solid #fff;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        padding-left: 5px;
        font-size: 16px;
        line-height: 20px;
        opacity: 0;
        transition: all .4s ease;
    }
    .nav-trigger.active::before {
        opacity: 1;
        transition: all .4s ease;
    }
    .main-nav-wrapper {
        visibility: hidden;
        height: 100vh;
        margin-top: 80px;
        background: transparent;
        transition: background .5s ease, visibility .5s ease;
    }
    .main-nav-wrapper.active {
        visibility: visible;
        background: rgba(0,0,0,0.7);
        transition: background .5s ease, visibility .5s ease;
    }
    .main-nav {
        background: #fff;
        height: auto;
        margin: 0;
        position: fixed;
        top: 74px;
        right: 0;
        width: 100%;
        border-top: 1px solid #ddd;
        box-shadow: 0 4px rgba(0,0,0,0.1);
        transform: translateY(20px);
        transition: transform .5s ease-out, opacity .3s ease;
        opacity: 0;
        z-index: 9;
    }
    .main-nav.active {
        opacity: 1;
        transform: translateY(5px);
        transition: transform .5s ease-out, opacity .3s ease;
    }
    .main-nav li {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
    .main-nav li a {
        height: 64px;
    }
    .main-nav > li > a:hover {
    }
    .dropdown {
        direction: rtl;
        padding-right: 3%;
        position: static;
        width: calc(100% + 2em);
        height: 0;
        margin-right: -1em;
        line-height: 60px;
        box-shadow: none;
        background: #fff;
        border-top: none;
        overflow: hidden;
    }
    .dropdown li {
        display: block;
        position: relative;
        height: 60px;
        padding: 0 1em;
    }
    .dropdown li a{
        box-sizing: border-box;
        display: block;
        height: 100%;
        width: 100%;
        color: #000;
        visibility: hidden;
        font-size: 1.2em;
        text-decoration: none;
        border-bottom: 6px solid transparent;
        transform: translateZ(0);
        backface-visibility: hidden;
        transition: visibility .3s;
    }
    .dropdown.moves-out {
        height: 12em;
        background: #f5f5f5;
        border-top: none;
        transition: height .3s, border-top 1s, background 1s;
    }

    /* Hero Section */

    .video-wrapper {
        position: relative;
        width: 100%;
        max-height: calc(100vh + 80px);
        margin-top: 80px;
        overflow: hidden;
        background: #333;
    }
    .hero-wrapper.mobile {
        min-height: 20vh;
    }
    .hero-wrapper.mobile img {
        display: block;
        width: 100%;
    }
    .video-wrapper .overlay {
        background: none;
    }
    .hero-text.video {
        position: static;
        top: 0;
        padding: 30px 10px;
    }
    .hero-title {
        font-weight: bold;
        font-size: 2em;
        line-height: 1em;
        margin-bottom: 0.5em;
    }
    .hero-paragraph {
        font-size: 1em;
        line-height: 1.4em;
    }

    /* Icon Nav */

    .icon-btn-wrapper {
        display: block;
        margin-bottom: 40px;
    }
    .icon-nav-container.main {
        position: relative;
        margin-top: 0;
        margin-bottom: 3em;
    }

    /* Content */

    .content {
        padding: 20px 15px;
    }
    .paragraph-image.third, .paragraph-image.half {
        width: 100%;
    }
    .paragraph-image.float-left {
        float: none;
        padding-right: 0;
        padding-bottom: 20px;
    }
    .paragraph-image.float-right {
        float: none;
        padding-left: 0;
        padding-bottom: 20px;
    }
    .article-image-container.half {
        display: block;
        vertical-align: top;
        width: 100%;
    }
    .article-h2 {
        font-size: 1.6em;
        line-height: 1.2em;
    }
    .article-container.centered {
        margin-right: 0;
    }
    .content .two-thirds, .content .third {
        width: 100%;
    }
    .padding-right {
        padding-right: 0;
    }
    .padding-left {
        padding-left: 0;
    }
    .article-container {
        display: block;
        vertical-align: top;
    }
    .article-container.half {
        width: 100%;
    }
    .content .article-image-container.third {
        width: 70%;
        margin: 0 auto;
        display: block;
        vertical-align: top;
    }
    .board-moves-container {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }
    .board-opening-container {
        display: block;
    }
    .board-opening-container.half {
        margin: 10px 0;
        width: 100%;
    }
    .notation-container {
        display: block;
    }
    .notation-letter {
        font-size: 6em;
        margin-bottom: 30px;
    }
    .hero-text {
        top: 40%;
        transform: translateY(0);
        width: 100%;
    }
    .hero-icon {
        width: 90px;
        height: 90px;
        border: 9px solid #fff;
        border-radius: 50%;
    }
    .hero-icon-title {
        font: 2.5em 'haim';
        line-height: 1em;
        margin-top: 0.2em;
    }
    .hero-icon.chess:before {
        left: 4px;
        top: 4px;
        font: 4em 'chess alpha';
    }
    .hero-icon.champs:before {
        top: 14px;
        font: 3em 'icomoon';
    }
    .hero-icon.pawn:before {
        top: 4px;
        left: 8px;
        font: 4em 'chess alpha';
    }
    .hero-icon.star:before {
        top: 10px;
        font: 3em 'icomoon';
    }
    .hero-icon.goal:before {
        top: 15px;
        left: 4px;
        font: 2.5em 'icomoon';
    }
    .hero-icon.archive:before {
        top: 10px;
        font: 3em 'icomoon';
    }
    .hero-icon.openings:before {
        top: 14px;
        font: 2.5em 'icomoon';
    }
    .hero-icon.famous:before {
        top: 14px;
        font: 2.5em 'icomoon';
    }
    .hero-icon.forum:before {
        top: 15px;
        font: 2.5em 'icomoon';
    }
    .search-container {
        width: 100%;
    }
    #search {
        font-size: 1.6em;
    }
    .clear-search {
        position: absolute;
        left: 15%;
        top: 10px;
        width: 22px;
        height: 22px;
        line-height: 17px;
        text-align: center;
        background: transparent;
        border: 2px solid #ddd;
        border-radius: 50%;
    }
    .clear-search:after {
        content: 'X';
        position: relative;
        font-size: 14px;
        left: 1.5px;
    }
    .clear-search:hover {
        border: 2px solid #cc6055;
    }
    .timeline-section {
        background-size: 200%;
    }
    .timeline-text {
        display: block;
        max-width: 90%;
        margin: 0 auto;
        margin-top: 5px;
        z-index: 10;
    }
    .timeline-text.left:after, .timeline-text.right:after {
        content: '';
        position: absolute;
        display: block;
        top: -30px;
        left: auto;
        text-align: center;
        transform: translateY(0);
        right: calc(50% - 12px);
        border: 15px solid transparent;
        border-bottom: 15px solid #fff;
    }
    .timeline-icon {
        display: block;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10px;
        border: 1em solid #52a6cc;
        border-radius: 50%;
        z-index: 9;
    }
    .timeline-date {
        position: relative;
        display: block;
        background: #333;
        margin-top: 10px;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        font: 3em 'haim';
        color: #fff;
        z-index: 10;
    }
    .timeline-date.right {
        text-align: center;
    }

    /* Qoute Section */

    .qoute-section {
        height: 50vh;
        background: url(../img/qoutepic1.jpg);
        background-size: 300%;
        background-repeat: no-repeat;
    }
    .qoute-container {
        height: 100%;
        width: 80%;
        margin: 0;
        margin-right: 15%;
    }
    .qoute {
        font-size: 2em;
        line-height: 1.2em;
    }

    /* Footer */

    footer {
        padding: 0 10px;
    }

}


/* ==========================================================================
Animations
========================================================================== */

@keyframes anim {
    0% {
    }

    50% {
    }

    100% {
    }
}

@keyframes shaker {
    0%, 90%, 100% {
        transform: translateX(0);
    }

    92%, 97% {
        transform: translateX(-5px);
    }

    95%, 99% {
        transform: translateX(5px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.animsition {
    opacity: 0;
    animation-fill-mode: both;
}
.fade-in {
    animation-name: fade-in;
    /*    animation-duration: .4s;*/
}
@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}
.fade-out {
    animation-name: fade-out;
}
/* loading option */
.animsition-loading {
    width: 64px;
    height: 64px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    border: 5px solid #000;
    border-top: 5px solid #fff;
    border-radius: 50%;
    z-index: 100;
}

.animsition-loading::after {
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    top: 6px;
    left: 6px;
    background: url(../img/logo_s.svg);
    background-size: contain;
}

.animsition-loading {
    box-sizing: border-box;
    background-color: transparent;
    transform: translateZ(0);
    animation-iteration-count:infinite;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-name: animsition-loading;
}

@keyframes animsition-loading {
    0% {
        transform: rotate(0deg);
        border: 5px solid #000;
        border-top: 5px solid #fff;
    }
    25%{
        border: 5px solid #000;
        border-top: 5px solid #fff;
    }
    50% {
        border-top: 5px solid #fff;
    }
    70% {
        border-top: 5px solid #fff;
        border: 5px solid #fff;
        transform: rotate(360deg);
    }
    100% {
        border: 5px solid #fff;
    }
}
.shaker {
    animation: shaker 3s infinite;
}
.anim {
    animation-name: anim;
}
.delay5 {
    animation-delay: 0.5s;
}
.delay10 {
    animation-delay: 1s;
}
.delay15 {
    animation-delay: 1.5s;
}
.delay20 {
    animation-delay: 2s;
}
.main.is-exiting {
    animation-direction: alternate-reverse;
}
/* ==========================================================================
Helper classes
========================================================================== */

.desktop {
    display: block;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}

/*
* Hide visually and from screen readers:
* http://juicystudio.com/article/screen-readers-display-none.php
*/

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-o-min-device-pixel-ratio: 5/4),
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi) {
        /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
